<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            @Html.ActionLink("Σπίτι", "Index", "Home", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Προβολές
                            </a>
                            <ul class="dropdown-menu">
                                @Html.ActionLink("Λίστα", "Index", "Provoles", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Κράτηση", "Reserve", "Provoles", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Ιστορία", "History", "Provoles", null, new { @class = "dropdown-item" })
                                <li><hr class="dropdown-divider"></li>
                                @Html.ActionLink("Νέα", "Create", "Provoles", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Αλλαγή", "Edit", "Provoles", null, new { @class = "dropdown-item" })
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ταινίες
                            </a>
                            <ul class="dropdown-menu">
                                @Html.ActionLink("Λίστα", "Index", "Movies", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Νέα", "Create", "Movies", null, new { @class = "dropdown-item" })
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Users
                            </a>
                            <ul class="dropdown-menu">
                                @Html.ActionLink("Λίστα", "Index", "Users", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Νέα", "Create", "Users", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Αλλαγή", "Edit", "Users", null, new { @class = "dropdown-item" })
                            </ul>
                        </li>
                        <li class="nav-item ml-auto">
                            @Html.ActionLink("Login", "Index", "Login", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>

    </main>
    <div class="container body-content">
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
