@{
    ViewBag.Title = "Σπιτική σελίδα";
}

<section class="main" id="main">
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-12 mb-2">
                <h1>Σπίτι</h1>
            </div>
            <div class="col-lg-12">
                <h2>Πελάτης σελίδες</h2>
                <ul>
                    <li>@Html.ActionLink("Λίστα προβολών", "Index", "Provoles")</li>
                    <li>@Html.ActionLink("Κράτηση προβολής", "Create", "Reservations")</li>
                    <li>@Html.ActionLink("Ιστορία κρατησηών", "Index", "Reservations")</li>
                </ul>
            </div>
            <div class="col-lg-12">
                <h2>Content manager σελίδες</h2>
                <ul>
                    <li>@Html.ActionLink("Νέα προβολή", "Create", "Provoles")</li>
                    <li>@Html.ActionLink("Αλλαγή προβολής", "Edit", "Provoles")</li>
                    <li>@Html.ActionLink("Λίστα ταινιών", "Index", "Movies")</li>
                    <li>@Html.ActionLink("Νέα ταινία", "Create", "Movies")</li>

                </ul>
            </div>
            <div class="col-lg-12">
                <h2>Admin σελίδες</h2>
                <ul>
                    <li>@Html.ActionLink("Λίστα user", "Index", "Users")</li>
                    <li>@Html.ActionLink("Νέο user", "Create", "Users")</li>
                    <li>@Html.ActionLink("Αλλαγή user", "Edit", "Users")</li>
                </ul>
            </div>
        </div>
    </div>
</section>