@using askisi_mvc_cinema.Models
@model UserModel

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@{
    ViewBag.Title = "Login σελίδα";
}

@using (Html.BeginForm("Index", "Login"))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal login-form">
    <h1>Login</h1>
    <hr />
    @Html.ValidationSummary(true)

    @if (ViewBag.Message != null)
    {
        <p style="border: 1px solid red">
            @ViewBag.Message
        </p>
    }

    <div class="mb-3 form-check">
        @Html.LabelFor(model => model.USERNAME, new { @class = "form-label col-lg-2" })
        <div class="col-lg-10">
            @Html.TextBoxFor(model => model.USERNAME, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.USERNAME, null, new { @class = "form-text" })
        </div>
    </div>
    <div class="mb-3 form-check">
        @Html.LabelFor(model => model.PASSWORD, new { @class = "form-label col-lg-2" })
        <div class="col-lg-10">
            @Html.PasswordFor(model => model.PASSWORD, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PASSWORD, null, new { @class = "form-text" })
        </div>
    </div>
    <div class="mb-3 form-check">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" value="Login" class="btn btn-primary" id="login-button" />
        </div>
    </div>


    <div class="mb-3 form-check">
        <div class="col-lg-10">
            @Html.ActionLink("Δημιουργία λογαριασμού πελάτη", "Index", "RegisterClient", new { area = "" }, new { @class = "your-css-class" })
        </div>
    </div>
</div>
}

<script>


    $(document).ready(function () {

        $('#login-button').click(function () {
            var username = $('#USERNAME').val();

            // Check if the username is not empty
            if (username) {
                // Save the username in local storage
                localStorage.setItem('username', username);
            }
        });

    });
</script>
