@using askisi_mvc_cinema.Models
@model UserModel

@{
    ViewBag.Title = "Διαγραφή content-admin";
}

@using (Html.BeginForm("Delete", "Admin/DeleteContentAdmin"))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal login-form">
    <h1>Login</h1>
    <hr />
    @Html.ValidationSummary(true)

    @if (ViewBag.Message != null)
    {
        <p style="border: 1px solid red">
            @ViewBag.Message
        </p>
    }

    <div class="mb-3 form-check">
        @Html.LabelFor(model => model.USERNAME, new { @class = "form-label col-lg-2" })
        <div class="col-lg-10">
            @Html.TextBoxFor(model => model.USERNAME, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.USERNAME, null, new { @class = "form-text" })
        </div>
    </div>
    <div class="mb-3 form-check">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    </div>
</div>
}