@using askisi_mvc_cinema.Models
@model IEnumerable<MovieModel>
@{
    ViewBag.Title = "Σπιτική σελίδα ταινιών";
}

<section class="main" id="main">
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-12 mb-2">
                <h1>Λίστα ταινιών</h1>
            </div>
            <div class="col-lg-12">
                <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3">
                        <div class="card movie-item">
                            <div class="card-body">
                                <div class="card-title movie-title-data">
                                    <span class="h5">@item.NAME</span>
                                </div>
                                <p class="card-text">
                                    @item.SUMMARY
                                </p>
                                <a href="#" class="btn btn-primary show-movie" data-bs-toggle="modal" data-bs-target="#movie-modal">
                                    Περισσότερα
                                </a>
                            </div>
                            <div class="card-data d-none">
                                <p><span class="movie-content-data">@item.CONTENT</span></p>
                                <p><span class="movie-length-data">@item.LENGTH</span></p>
                                <p><span class="movie-type-data">@item.TYPE</span></p>
                                <p><span class="movie-director-data">@item.DIRECTOR</span></p>
                                <p><span class="movie-user-data">@item.USER_USERNAME</span></p>
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" aria-labelledby="movie-title" aria-hidden="true" id="movie-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="movie-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Content: <span id="movie-content"></span></p>
                    <p>Length: <span id="movie-length"></span> mins</p>
                    <p>Type: <span id="movie-type"></span></p>
                    <p>Director: <span id="movie-director"></span></p>
                    <p>Content Manager: <span id="movie-user"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>