@using askisi_mvc_cinema.Models
@model ReservationModel

@{
    ViewBag.Title = "Create κράτηση σελίδα";
}

@using (Html.BeginForm("Create", "Reservations"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal movies-form">
        <h1>Create Reservation</h1>
        <hr />
        @Html.ValidationSummary(true)

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">
                @ViewBag.Message
            </div>
        }

        <div class="mb-3 form-check">
            @Html.LabelFor(model => model.PROVOLES_MOVIES_ID, new { @class = "form-label col-lg-2" })
            <div class="col-lg-10">
                @Html.DropDownListFor(model => model.PROVOLES_MOVIES_ID, new SelectList(ViewBag.Provoles, "NAME", "NAME"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PROVOLES_MOVIES_ID, null, new { @class = "form-text" })
            </div>
        </div>
        <div class="mb-3 form-check">
            @Html.LabelFor(model => model.PROVOLES_CINEMAS_ID, new { @class = "form-label col-lg-2" })
            <div class="col-lg-10">
                @Html.DropDownListFor(model => model.PROVOLES_CINEMAS_ID, new SelectList(ViewBag.Cinemas, "NAME", "NAME"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PROVOLES_CINEMAS_ID, null, new { @class = "form-text" })
            </div>
        </div>
        <div class="mb-3 form-check">
            @Html.LabelFor(model => model.NUMBER_OF_SEATS, new { @class = "form-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.NUMBER_OF_SEATS, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NUMBER_OF_SEATS, null, new { @class = "form-text" })
            </div>
        </div>
        <div class="mb-3 form-check">
            <div class="col-lg-offset-2 col-lg-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}